<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <title><!--{$category.name}-->--<!--{$site.seotitle}--></title>
    <meta name="keywords" content="<!--{$category.keywords}-->" />
    <meta name="description" content="<!--{$category.description}-->"/>
    <meta name="mobile-agent" content="format=xhtml;url=<!--{$category.url|replace:$site.url:$site.urls.mobile}-->">
    <meta name="mobile-agent" content="format=html5;url=<!--{$category.url|replace:$site.url:$site.urls.mobile}-->">
    <!--{iCMS:public:ui}-->
    <link href="<!--{$site.urls.tpl}-->/theme/common.css?version123" rel="stylesheet" type="text/css" />

          <script type="text/javascript">

          function nofind() {
              var img = event.srcElement;
              img.src = '<!--{$site.url}-->/template/huati/theme/image/logo2.png';
              img.onerror = null;
          }
      </script>
  </head>
  <body class="home blog" data-navto="home">
    <!--{include file="./header.htm"}-->
    <section class="container">
      <header class="title">
        <h1><a href="<!--{$category.url}-->"><!--{$category.name}--></a></h1>
        <div class="share bdsharebuttonbox">
          分享到：<a class="bds_qzone" data-cmd="qzone"></a>
          <a class="bds_tsina" data-cmd="tsina"></a>
          <a class="bds_weixin bdsm" data-cmd="weixin"></a>
          <a class="bds_tqq" data-cmd="tqq"></a>
          <a class="bds_sqq bdsm" data-cmd="sqq"></a>
          <a class="bds_renren" data-cmd="renren"></a>
          <a class="bds_douban" data-cmd="douban"></a>
          <span class="bds_count" data-cmd="count"></span>
        </div>
      </header>
      <div class="likepage">
        <ul>
          <!--{iCMS:user:list loop="true" row="30"}-->
              <li>
                <a href="<!--{$article_list.url}-->">
                <img class="lazy thumb img-circle" style="width:140px;height:140px" onerror="iCMS.user.noavatar(this);" src="<!--{$site.urls.ui}-->/img/1x1.gif" data-src="<!--{$user_list.avatar}-->"/>
                </a>
                <!--{$user_list.at}-->
                <a href="<!--{$user_list.url}-->">昵称：<!--{$user_list.nickname}--></a>
              </li>
          <!--{/iCMS}-->
        </ul>
      </div>
    </section>
    <!--{iCMS:public:uijs}-->
    <script>
      window._bd_share_config = {
        common : {
          bdText : '<!--{$article.title}-->',
          bdDesc : '刚刚看到这篇很不错的文章，特地分享给大家！',
          bdUrl : '<!--{$article.url}-->?share',
          bdPic : '<!--{$article.pic.url}-->',
          "bdMini": "2",
          "bdMiniList": false,
          "bdStyle": "0",
          "bdSize": "24"
        },
        share:[{
            bdCustomStyle: '<!--{$site.urls.tpl}-->/theme/share.css'
        }],
        image: {
            tag: 'bdshare',
            "viewList": ["qzone", "tsina", "weixin", "tqq", "sqq", "renren", "douban"],
            "viewText": " ",
            "viewSize": "16"
        }
      }
      //以下为js加载部分
      with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];
    </script>
    <!--{include file="./footer.htm"}-->
  </body>
</html>
