<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=11,IE=10,IE=9,IE=8">
<meta http-equiv="Cache-Control" content="no-siteapp">
<meta name="apple-mobile-web-app-title" content="<!--{$site.title}-->">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<!--{include file="/iCMS/public.ui.htm"}-->
<script src="<!--{$site.urls.ui}-->/jquery.infinitescroll.min.js"></script>
<link href="<!--{$site.urls.tpl}-->/theme/common.css" rel="stylesheet" type="text/css" />
<script>
function scrollLoad2 (contents,one,next,maxPage,callback,pathParse){
  if ( !( $(contents).length && $(next).length) ){
    return false;
  };
  var $container = $(contents);
  $container.infinitescroll({
    pathParse:pathParse,
    //  pathParse: function(path, page){
    //   return function(curPage) {
    //     return path.replace("{P}",curPage);
    //   };
    // },
    // debug:true,
    dataType:"html+callback",
    showPageNum:5,
    maxPage: maxPage||100,
    clickMoreBtn:'.click_more',
    navSelector: next, // selector for the paged navigation
    nextSelector: next + ' a', // selector for the NEXT link (to page 2)
    itemSelector: contents + ' ' + one, // selector for all items you'll retrieve
    loading: {
      finishedMsg: '<button class="click_more btn btn-success btn-lg btn-block"><i class="fa fa-gift"></i> 恭喜您！居然到底了！</button>',
      msgText: '<p class="loading_wrap"><i class="fa fa-spinner"></i> 正在加载...</p>',
      clickMoreMsg:'<button class="click_more btn btn-primary btn-lg btn-block"><i class="fa fa-cloud-download"></i> 点击加载更多</button>',
      img: ''
    }
  });
}
</script>
