<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <title><!--{$search.title}-->_<!--{$site.title}-->_<!--{$site.seotitle}--></title>
    <meta name="keywords" content="<!--{$tag.keywords}-->" />
    <meta name="description" content="<!--{$tag.description}-->"/>
    <meta name="mobile-agent" content="format=xhtml;url=<!--{$tag.url|replace:$site.url:$site.urls.mobile}-->">
    <meta name="mobile-agent" content="format=html5;url=<!--{$tag.url|replace:$site.url:$site.urls.mobile}-->">
    <!--{iCMS:public:ui}-->
  </head>
  <body class="archive search" data-navto="search">
    <!--{include file="./header.htm"}-->
    <section class="container">
      <div class="content-wrap">
        <div class="content excerpts">
          <h3 class="title"><strong>标签：<!--{$search.title}--></strong></h3>
          <!--{iCMS:article:list loop="true" page="true" tags="true" pic="true" row="10" keywords="$search.keyword"}-->
            <article class="excerpt">
              <a target="_blank" class="thumbnail2" href="<!--{$article_list.url}-->">
                <img class="thumb" src="<!--{$article_list.pic.url}-->"/>
              </a>
              <h2>
                <a target="_blank" href="<!--{$article_list.url}-->"><!--{$article_list.title}--></a>
              </h2>
              <p class="note"><!--{$article_list.description}--></p>
              <footer data-param='<!--{$article_list.param|json_encode}-->'>
                <time class="new"><!--{$article_list.pubdate|format_date}--></time>
                /
                <a href="javascript:;" class="post-like iCMS_article_do" data-param='{"do":"good"}'>
                  <i class="glyphicon glyphicon-thumbs-up"></i>点赞(<span class="iCMS_good_num"><!--{$article_list.good}--></span>)
                </a>
                <span class="post-views">阅读(<!--{$article_list.hits.count}-->)</span></footer>
            </article>
          <!--{/iCMS}-->
            <div class="pagination iCMS_pagination hide">
              <!--{$iCMS.PAGE.NAV}-->
            </div>
            <div id="pages_next" class="hide">
              <!--{$iCMS.PAGE.NEXT}-->
            </div>
        </div>
      </div>
      <script>
      scrollLoad2(".content-wrap .content","article","#pages_next","<!--{$iCMS.PAGE.TOTAL}-->");
      </script>
      <!--{include file="./sidebar.htm"}-->
    </section>
    <!--{include file="./footer.htm"}-->
  </body>
</html>
