<script>
window.iCMS.init({
	API:"<!--{iCMS:router url='/api'}-->",
	PUBLIC:"<!--{$site.urls.public}-->",
	COOKIE:'<!--{$iCMS.COOKIE_PRE}-->',
	DIALOG:{title:'<!--{$site.name}--> 提示信息'},
	COMMENT:{seccode:<!--{if $iCMS.CONFIG.comment.seccode }-->true<!--{else}-->false<!--{/if}-->}
});
$(function(){
	iCMS.run();
})

//百度统计流量
var _hmt = _hmt || [];
(function() {
    var hm = document.createElement("script");
    hm.src = "//hm.baidu.com/hm.js?5c1f6974b11969d43a92376068a257d9";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
})();

</script>
